.input-text__size--large {
  @apply w-full h-10 p-2 border border-solid box-border rounded-md transition-colors;

  &:disabled {
    &:hover {
      @apply border;
    }
  }
}

.input-text__size--medium {
  @apply w-2/4  h-9 p-2 border box-border border-solid rounded-md transition-colors;

  &:disabled {
    &:hover {
      @apply border;
    }
  }
}

.input-text__size--small {
  @apply w-1/4  h-8 p-2 border box-border border-solid rounded-md transition-colors;

  &:disabled {
    &:hover {
      @apply border;
    }
  }
}

.input-text__mode--primary {
  @apply border-primary-500 text-primary-500 hover:border-2 focus:border-2 focus:ring-primary-500 focus:shadow-md focus:shadow-primary-100 focus:outline-none;
}

.input-text__mode--edit {
  @apply border-edit-500 text-edit-500 hover:border-2 focus:border-2 focus:ring-edit-500 focus:shadow-md focus:shadow-edit-100 focus:outline-none;
}

.input-text__mode--error {
  @apply border-error-500 text-error-500 hover:border-2 focus:border-2 focus:ring-error-500 focus:shadow-md focus:shadow-error-100 focus:outline-none;
}

.input-text__mode--success {
  @apply border-success-600 text-success-600 hover:border-2 focus:border-2 focus:ring-success-600 focus:shadow-md focus:shadow-success-100 focus:outline-none;
}

.input-checkbox {
  @apply flex items-center;

  &:hover {
    .input-checkbox__label {
      svg {
        path {
          stroke-dashoffset: 0;
        }
      }
    }
  }

  &.input-checkbox--disabled {
    .input-checkbox__label {
      @apply text-gray-300;

      div {
        @apply relative;

        svg {
          path {
            stroke-width: 0;
          }
        }

        &::after {
          content: '';
          @apply bg-gray-300/50 w-full h-full top-0 left-0 absolute;
        }
      }
    }
  }
}

.input-checkbox__checked {
  @apply bg-gray-500 w-0 h-0 absolute;

  &:checked {
    & + .input-checkbox__label {
      div {
        @apply border-primary-400;

        svg {
          path {
            @apply fill-primary-400;
          }
          polyline {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }
}

.input-checkbox__label {
  @apply text-sm ml-1 font-medium text-primary-500 hover:text-primary-700  flex items-center;

  div {
    @apply w-4 h-4 relative mr-2 border-solid border-gray-300 border-[2px] rounded box-content;

    svg {
      @apply absolute -top-[2px] -left-[2px];
      path {
        @apply fill-transparent stroke-primary-500 stroke-2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 71px;
        stroke-dashoffset: 71px;
        transition: all 0.3s ease;
      }
      polyline {
        @apply fill-transparent stroke-gray-100 stroke-2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 18px;
        stroke-dashoffset: 18px;
        transition: all 0.3s ease;
      }
    }
  }
}

.select {
  @apply w-full h-8 rounded-md border-2 border-solid border-primary-400 box-content cursor-pointer hover:border-primary-600 relative;
}

.select--disabled {
  &::after {
    @apply w-full h-full absolute top-0 left-0 bg-gray-200/50;
    content: '';
  }

  &:hover {
    @apply border-primary-400;
  }
}

.select__input {
  @apply flex items-center justify-between p-0 h-full px-2;
}

.select__input--value {
  @apply m-0 text-primary-500;
}

.select__input--icon {
  @apply w-4 h-4;

  svg {
    @apply w-full h-full fill-primary-500;
  }
}

.select__option {
  @apply border-primary-400 w-full border-2 absolute top-8 rounded-b-md max-h-40 overflow-y-auto;
}

.select__option--item {
  @apply h-8 hover:bg-primary-200 px-2;

  &:last-child {
    @apply border-0;
  }

  p {
    @apply h-full text-primary-500 leading-8;
  }
}

.toggle__button {
  @apply w-0 h-0 absolute;

  &:checked {
    & + .toggle__switch {
      .toggle__switch--icon {
        @apply bg-primary-500 border-primary-500;

        &::after {
          @apply translate-x-full;
        }
      }
    }
  }
}

.toggle__switch {
  @apply flex items-center cursor-pointer relative mb-4;
}

.toggle__switch--icon {
  @apply bg-gray-200 border-2 border-gray-200 h-6 w-11 rounded-full relative mr-2;

  &::after {
    content: '';
    @apply w-5 h-5 bg-gray-100 rounded-full absolute top-0 left-0 transition-transform translate-x-0;
  }
}

.button {
  @apply w-full h-12 bg-primary-600 text-gray-200 font-bold rounded-lg shadow-primary-800 shadow-sm hover:bg-primary-700 active:bg-primary-800 disabled:bg-gray-500 disabled:text-gray-300;
}

.modal {
  @apply w-screen h-screen fixed z-50 top-0 left-0;
}

.modal__dim {
  @apply w-full h-full bg-gray-700/50 flex items-center justify-center;
}

.modal__container {
  @apply w-96 h-auto bg-gray-100 rounded-lg p-7 flex flex-col justify-between;
}

.modal__container--text {
  @apply w-full h-12 mb-8 text-center;

  p {
    @apply text-xl font-semibold;
  }
}
